.loader {
    background: url('Loader.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    background-size: 10%;
}
.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

